---
import ListadoCredencialesCheckIn from './components/ListadoCredencialesCheckIn.jsx'
import LayoutEvento from './layout/LayoutEvento.astro'
const {uid}=Astro.params
---

<LayoutEvento>

  <div class="bg-white rounded-lg w-full min-h-[50vh]  text-paleta1-gray p-4">
    <ListadoCredencialesCheckIn client:load uid={uid}/>
   <div>
    
   </div>
  </div>
</LayoutEvento>