---
import ListadoCredencialesCheckIn from './components/ListadoCredencialesCheckIn.astro'
import LayoutEvento from './layout/LayoutEvento.astro'
const {uid}=Astro.params
---

<LayoutEvento>

  <div>
    <ListadoCredencialesCheckIn />
  </div>
</LayoutEvento>