---
import ImportacionExcel from './components/ImportacionExcel.astro';
import ListadoCredencialesCheckIn from './components/ListadoCredencialesCheckIn.jsx'
import StatDanger from './components/StatDanger';
import LayoutEvento from './layout/LayoutEvento.astro'
const {uid}=Astro.params
---

<LayoutEvento>


  <div class="bg-white rounded-lg w-full min-h-[50vh]  text-paleta1-gray p-4 flex flex-col gap-y-5 items-center w">
    <ListadoCredencialesCheckIn client:load uid={uid}/>
<div class="bg-gray-100 flex items-stretch justify-evenly w-full h-2/5 px-2 -5 text-sm font-bold">
  <button class="border-x border-gray-700/60 h-full text-center w-1/4 flex-shrink py-3 hover:bg-gray-700/60 duration-300 hover:text-gray-100">Lanzar Evento</button>
  <button class="border-x border-gray-700/60 h-full text-center w-1/4 flex-shrink py-3 hover:bg-gray-700/60 duration-300 hover:text-gray-100">Recepcion</button>
  <button class="border-x border-gray-700/60 h-full text-center w-1/4 flex-shrink py-3 hover:bg-gray-700/60 duration-300 hover:text-gray-100">Portada y Nombre</button>
  </div>
<div class="bg-gray-100 flex items-center justify-evenly w-full h-2/5 px-2 py-5">
<StatDanger client:load uidEvento={uid} />
  <ImportacionExcel uidEvento={uid}/>
</div>

  </div>
</LayoutEvento>