---
import LayoutEvento from "../../layout/LayoutEvento.astro";
import Tabla from "../../../credenciales/components/tabla/TablaCredenciales";
import BotonCargaCredencial from "../../../../components/BotonCargaCredencial.astro";

const {uid}=Astro.params
console.log('este es el evento ->'+uid)
---

<LayoutEvento>
    
    <div class="bg-white p-1 b border-b border-b-orange-500 rounded-lg relative py-16">
      <div class="w-10 top-2 absolute right-2 z-10">
        <BotonCargaCredencial />
      </div>
    <Tabla client:load uid={uid}/>
  </div>
</LayoutEvento>
