---
import MainDasboard from "../../components/MainDasboard.astro";
import Layout from "../../layouts/Layout.astro";
import Formulario from "./components/Formulario";
import ContenedorFormulario from "../../components/ContenedorFormualrio.astro";
---

<Layout title="Carga de credenciales Acceso">
<MainDasboard>
    <ContenedorFormulario>
      <button
        id="btnBack"
        class="text-2xl  absolute top-4 left-4 rounded-full  bg-gray-200 border border-paleta1-primary hover:bg-gray-300 hover:text-gray-500 px-2 h-10 flex items-center justify-center  border-gray-700/50 hover:-translate-x-1 duration-300 hover:scale-105 active:scale-90 shadow-lg text-gray-700"
        >←</button>
      <div class="text-center">
        <h2 class="mt-5 text-lg font-bold text-gray-700">Carga Credencial</h2>
        <p class="mt-2 text-sm text-gray-400">
          Sube el video e indica el la mesa a relacionar
        </p>
      </div>
      <Formulario client:load />
    </ContenedorFormulario>
  </MainDasboard>
</Layout>


<script>
  const btnBack=document.querySelector('#btnBack')

  btnBack.addEventListener('click',()=>{
    window.history.back();
  })
</script>