---

import Layout from '../../layouts/Layout.astro'
---

<Layout
title='Carga de credenciales Acceso'
>

<main class="relative min-h-screen w-full flex flex-col gap-10 items-center justify-start mt-20">

<form>
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
  </div>
  <div>
    <label for="mesa">Mesa Relacionada:</label>
    <input type="text" id="mesa" name="mesa">
  </div>
  <input type="submit" value="Enviar">
</form>

    
</main>
</Layout>