---
// import Portada from "./components/Portada.astro";
import Portada from "./components/Portada.astro";
import LayoutLector from "../../layouts/LayoutLector.astro";
import BotonReceptor from "./components/BotonReceptor.astro";
import Scaner from "./components/Scaner.astro";
const { uid } = Astro.params;
process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';
const serverURL=import.meta.env.PUBLIC_SERVER_URL || '192.168.1.51'
const objectEvento = await fetch(`https://${serverURL}:4321/api/${uid}`);
const data = await objectEvento.json();
---

<LayoutLector title="LectorQR">
  <main
    class="flex items-center justify-around gap-5 flex-col w-screen overflow-hidden min-h-screen relative"
  >
    <astro-greet data-uid={uid}></astro-greet>
    <div
      id="videoEquivocado"
      class="absolute top-1/2 z-30 py-1 px-2 rounded-lg bg-red-500/80 backdrop-blur-sm text-gray-100 text-xl invisible font-bold duration-200"
    >
      <p id="mensajeError"></p>
    </div>
    <BotonReceptor />

    <Portada srcImage={data?.files?.path} />
    <div
      class="w-[200px] absolute bottom-4 h-[200px] rounded-lg bg-white flex flex-col items-center justify-normal p-2"
    >
      <Scaner />
    </div>
  </main>
</LayoutLector>

<style>
  .camaraInactiva {
    background-image: url("/lectorQR.jpeg");
    background-size: contain;
  }
  .aparecer {
    display: hidden;
  }
  .videoActivo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .videoError {
    visibility: visible;
  }
</style>
