---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center justify-normal flex-col w-full min-h-screen ">
    <div
    class="w-[500px] h-[85vh] rounded-lg bg-white flex flex-col items-center justify-normal p-2 relative"
    >
    <h1  class="absolute  top-2 bg-white px-3 rounded-lg  mt-5 text-3xl font-bold text-gray-700">Scanea tu codigo</h1>
      <div class="h-5/6 flex  items-center justify-center">
        <!-- <img src="/lectorQR.jpeg" alt="lector" class="object-contain " /> -->
        <video autoplay id="lectorQr" class="w-auto camaraInactiva h-full object-cover "></video>
      </div>
      <div
        class="flex w-full  h-1/6 justify-around items-center text-gray-700 py-2 font-medium"
      >
        <button
          id="prender"
          class="cursor-pointer z-20 w-1/2 h-full border-r-2 hover:bg-gray-300 duration-500"
          >Activar Lector</button
        >
        <button id="prender"   class="cursor-pointer z-20 w-1/2 h-full hover:bg-gray-300 duration-500">Apagar Lector</button>
      </div>
    </div>
  </main>
</Layout>
|

<script src="./funcionamientoLector.js"></script>

<style>
  .camaraInactiva {
    background-image: url('/lectorQR.jpeg');
    background-size: contain;
  }
  .aparecer{
    display: hidden;

  }
</style>
