---
import Portada from "./components/Portada.astro";
import LayoutLector from "../../layouts/LayoutLector.astro";
---

<LayoutLector title="LectorQR">
  <main
    class="flex items-center justify-around gap-5 flex-col w-full min-h-screen relative"
  >

  <div class="px-2 py-5 rounded-full text-sm bg-paleta1-primary border text-gray-700 font-medium absolute bottom-2 left-3 shadow-lg">

    <a href="/">
    volver</a
    >
  </div>
   
    <Portada />
    <div
      class="w-[200px] h-[200px] rounded-lg bg-white flex flex-col items-center justify-normal p-2 relative"
    >
      <h1
        class="absolute top-3 bg-white px-3 rounded-lg text-sm font-bold text-gray-700"
      >
        Scanea tu codigo
      </h1>
      <!-- /** * lector abajo */ -->
      <div class="h-full w-full flex flex-col items-center justify-center ">
       
        <video
        muted
          autoplay
          id="lectorQr"
          class="w-auto camaraInactiva h-full object-cover"></video>
        
      </div> <select name="camara" id="selectorCamara" class="w-full text-xs text-gray-700 rounded px-2 border-transparent focus:ring-o bg-gray-200">
        <option value="selectCamara" selected disabled class="text-xs text-gray-700">Selecciona una camara</option>
      </select>
      <div class="absolute bottom-2 animate-bounce text-2xl">⬇️</div>

    </div>
  </main>
</LayoutLector>
<script src="./funcionamientoLector.js"></script>

<style>
  .camaraInactiva {
    background-image: url("/lectorQR.jpeg");
    background-size: contain;
  }
  .aparecer {
    display: hidden;
  }
</style>
