---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center justify-normal flex-col w-full min-h-screen">
    <h1>Bienvenido ! Scanea tu codigo</h1>
    <div class="w-2/3 rounded-lg bg-white">
	  <video autoplay id="lectorQr" class="w-full h-full"></video>
	  <div class="flex w-full justify-around items-center">
		<botton class="0" id="prender">Activar Lector</botton>
		<botton id="prender" class=" ">Apagar Lector</botton>
	  </div>
	</div>
  </main>
</Layout>
|

<script src="./funcionamientoLector.js">

</script>

<style>
	.camaraActiva{
		display: flex;
	}
</style>