---
import Portada from "./components/Portada.astro";
---

<body
  class="w-full flex flex-col items-center justify-center bg-gradient-to-tr text-white from-paleta1-primary backdrop-blur-sm to-paleta1-secondary min-h-screen"
>
  <main
    class="flex items-center justify-center gap-5 flex-col w-full min-h-screen relative"
  >
    <h1 class="text-4xl italic font-bold text-gray-700">Rayuela 360</h1>
    <Portada />
    <div
      class="w-[200px] h-[200px] rounded-lg bg-white flex flex-col items-center justify-normal p-2 relative"
    >
      <h1 class="absolute top-2 bg-white px-3 rounded-lg mt-5 text-lg font-bold text-gray-700">
        Scanea tu codigo
      </h1>
      <!-- /** * lector abajo */ -->
      <div class="h-full w-full flex items-center justify-center">
        <video autoplay
          id="lectorQr"
          class="w-auto camaraInactiva h-full object-cover"></video>
     </div>
    <a href="/"
      class="p-2 rounded-full bg-paleta1-primary absolute ring-2 left-2">
      vovler</a>
  </main>
</body>
<script src="./funcionamientoLector.js"></script>

<style>
  .camaraInactiva {
    background-image: url("/lectorQR.jpeg");
    background-size: contain;
  }
  .aparecer {
    display: hidden;
  }
</style>
