---

import BotonBackHistory from "../../components/BotonBackHistory.astro";
import MainDasboard from "../../components/MainDasboard.astro";
import Layout from "../../layouts/Layout.astro";
import FormularioEventos from "./componets/FormularioEventos";

---

<Layout title="Carga de Videos">
<MainDasboard>
<div class="md:w-1/2 md:h-1/2  bg-white/80  backdrop-blur-sm flex flex-col p-5 rounded-lg items-center justify-normal">
    <BotonBackHistory/>
    <div class="text-center">
        <h2 class="mt-5 text-lg font-bold text-gray-700">
           Carga tu Evento
        </h2>
    </div>
    <FormularioEventos client:load/>
</div>


</MainDasboard>
</Layout>


