---
import Layout from "../../layouts/Layout.astro";
import TablaCredenciales from "./components/tabla/TablaCredenciales.astro";
---

<Layout title="Credenciales">
  <main
    class="min-h-screen w-full flex flex-col gap-10 items-center justify-start mt-20"
  >
    <div
      class="md:w-10/12 md:min-h-[50vh] bg-white/80 backdrop-blur-sm flex flex-col p-5 rounded-lg items-center justify-normal"
    >
      <div class="text-center">
        <h2 class="mt-5 text-lg font-bold text-gray-700">Credenciales</h2>
      </div>

      <TablaCredenciales />
    </div>
  </main>
</Layout>
