---
import Layout from "../../layouts/Layout.astro";
import TablaCredenciales from "./components/tabla/TablaCredenciales";
import MainDashboard from '../../components/MainDasboard.astro'
import BotonCargaCredencial from "../../components/BotonCargaCredencial.astro";
const {uid}=Astro.params
console.log(uid)

---

<Layout title="Credenciales">
<MainDashboard>

  
    <div
      class="md:w-11/12 md:min-h-[50vh] relative bg-white/80 backdrop-blur-sm flex flex-col p-5 rounded-lg items-center justify-normal"
    ><div class="absolute top-5 right-5 + hover:scale-105 active:scale-90 duration-300 rounded-full">
     <BotonCargaCredencial/>
      </div>
      <div class="text-center my-5">
        <h2 class="mt-5 text-lg font-bold text-gray-700">Credenciales</h2>
      </div>

      <TablaCredenciales uid={uid} client:load />
    </div>
  </MainDashboard>
</Layout>
