---
import LayoutLector from "../../../layouts/LayoutLector.astro";
import MainDashboard from "../../../components/MainDasboard.astro";
import Listado from "./componentes/Listado.jsx";
import BotonBackHistory from "../../../components/BotonBackHistory.astro";
import ModalLector from './componentes/ModalLector.astro'
const { uidEvento } = Astro.params;
const fetching = await fetch(`http://localhost:4321/api/${uidEvento}`);
const data = await fetching.json();
const evento = data.files;
---

<LayoutLector title="RecepcionQR">
    
  <MainDashboard>
    <div class="md:w-10/12 rounded flex items-center bg-white px-1 py-2 justify-between gap-5">
      <div class="relative">
        <BotonBackHistory clase="-top-5" />
      </div>
      <h2 class=" text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r to-fuchsia-500 from-pink-800 drop-shadow-[1px_1px_.5px_#1C212850]">
        {evento?.nombre}
      </h1>
      <div class="text-gray-600">
        <button id="btnLector">🚀</button>
      </div>
    </div>
    <Listado uidEvento={uidEvento} client:load />
    
  </MainDashboard>
<ModalLector uidEvento={uidEvento}/>
</LayoutLector>


<script>
    const btnLector=document.getElementById('btnLector')
const modal=document.getElementById('modalLector')
    btnLector.addEventListener('click',()=>{
modal.classList.add('modal')
    })
</script>