---
import LayoutLector from '../../../layouts/LayoutLector.astro'
import MainDashboard from '../../../components/MainDasboard.astro'
import Listado from './componentes/Listado.jsx';
const {uidEvento}=Astro.params

---


<LayoutLector title="RecepcionQR">

    <MainDashboard>
<h1>Nombre De Evento</h1>

<Listado  uidEvento={uidEvento} client:load/>
</MainDashboard>
</LayoutLector>
