---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import VideosCargados from '../pages/videosCargados/VideosCargados.astro'
---

<Layout title="Welcome to Astro.">
	<main class=" min-h-screen w-full  container flex flex-col  pt-10 items-start justify-normal">
		<h1 class="text-3xl font-bold text-gray-700">Estos son tus videos!</h1>
	<VideosCargados/>
	</main>
</Layout>

