---
---

<button class="inline-flex items-center px-4 py-0.5 text-xs bg-gray-200 hover:bg-gray-300 text-gray-800  font-medium rounded-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
    </svg>
  
Archivar
  </button>
  