---
import HeadTabla from "./HeadTabla.astro";
import BodyTabla from "./BodyTabla.astro";
---

<table
  class="min-w-full divide-y-2  divide-gray-200 bg-primary-800 text-sm rounded-lg relative"
>
  <HeadTabla />
  <BodyTabla />
</table>
