---
import SidebarCanvas from './componentes/sidebarCanvas.astro'
const { uid } = Astro.params;

const fetching = await fetch("http://localhost:4321/api/data");
const dataCredenciales = await fetching.json();
const credenciales =await JSON.stringify(dataCredenciales.credenciales.filter((credencial) => {
  if (!uid) {
    return credencial;
  }
  return credencial.evento == uid;
}))


---

<div class="flex items-center justify-center flex-col w-full">
  <div
    class="min-h-[85vh] w-full bg-white overflow-hidden justify-center flex flex-col items-center p-5 rounded-lg shadow-lg relative"
  >
  
  <astro-greet data-uidevento={uid}></astro-greet>
    <SidebarCanvas />
    <div
      id="contenedorCanva"
      class="flex items-center justify-center w-full h-full py-20 top-0 left-0"
    >
      <canvas id="canvas" class="w- border shadow-[5px_5px_5px_1px_#c0c0c0]"
      ></canvas>
    </div>
  </div>
</div>

<script src="./componentes/canvasDelEditor.js">

</script>
