---
---
<div
id="menuRecepcion"
      class="p-2 cursor-pointer w-16 h-16 flex items-center justify-center rounded-full text-sm bg-paleta1-primary border text-gray-700 font-medium absolute bottom-2 left-3 shadow-lg">

    <p class="font-bold rotate-45 text-2xl text-white">+</p>
      <div id="menuOculto" class=" flex-col items-center justify-normal hidden duration-500">

          <a href="/"> volver</a>

          <select
          name="camara"
          id="selectorCamara"
          class="w-full text-xs text-gray-700 rounded px-2 border-transparent focus:ring-o bg-gray-200"
        >
          <option
            value="selectCamara"
            selected
            disabled
            class="text-xs text-gray-700">Selecciona una camara</option
          >
        </select>

        </div>
</div>
<script>

const botonMenu=document.getElementById('menuRecepcion')
const menuOculto=document.getElementById('menuOculto')
botonMenu.addEventListener('click',()=>{
    menuOculto.classList.toggle('menudesplegable')
})
</script>

<style>
    .menudesplegable{
        display: flex;
        height: 100%;
    }
</style>