---
---

<div
  class="w-[550px] relative h-[60vh] rounded-3xl bg-white flex flex-col items-center justify-normal p-2 "
>
  <img
    src="/recepcionQR.jpeg"
    alt="Receptor"
    width="540"
    height="540"
    class="object-cover object-center w-full rounded-3xl h-full"
  />


</div>
