---
const {srcImage}=Astro.props

---

<div
id="contenedorVideo"
class="absolute top-0 left-0 w-screen h-screen  flex flex-col items-center justify-normal "
>
  <video
    src="#"
    class="object-fill duration-700 opacity-0 z-20   top-0 left-0 w-full h-full"
    id="videoRecepcion"
    autoplay></video>
  <img
    id="portadaRecepcion"
  src={srcImage}
  alt="Receptor"
  width="1080"
  height="1920"
  class="object-fill object-center absolute top-0 left-0 w-screen bg-gray-800 h-screen"
/>
</div>
<style>
   .aparecer {
    opacity: 1;
    z-index: 30;
  }
  .videoActivo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
</style>
