---
---

<div
class="w-[450px] h-[60vh] rounded-lg bg-white flex flex-col items-center justify-normal p-2 relative"
>
<h1>Rayuela 360</h1>

<img
src="/lectorQR.jpeg"
alt="Receptor"
width="540"
height="540"
class="object-cover object-center w-full "
/>
</div>
