---
---

<div
id="contenedorVideo"
  class="w-[550px] relative h-[60vh] duration-700 rounded-3xl bg-transparent flex flex-col items-center justify-normal p-2 "
>
<video src="#" class="object-cover opacity-0 z-20 rounded-3xl absolute top-0 left-0 w-full h-full"  id="videoRecepcion"  autoplay></video>
  <img
  id="portadaRecepcion"
    src="/recepcionQR.png"
    alt="Receptor"
    width="540"
    height="540"
    class="object-cover object-center w-full rounded-3xl h-full"
  />


</div>

<style>
  .videoActivo{
    
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
</style>