---
---


<a href="/cargaAcceso"  class={` text-2xl group  relative rounded-full  bg-gray-200 border border-paleta1-primary hover:bg-gray-300 hover:text-gray-500 px-3 h-10 flex items-center justify-center  border-gray-700/50 hover:-translate-x-1 duration-300 hover:scale-105 active:scale-90 shadow-lg text-gray-700`}
>+
<span class="absolute text-center mx-auto bottom-full w-120% break-words text-[10px] leading-3 -left-2 font-medium bg-gray-300 group-hover:-translate-y-2 duration-300 group-hover:opacity-100 opacity-0  rounded p-1">
    Cargar Credencial
</span>
</a>