---
---
<footer class="flex items-center justify-between">
<div class="py-6 text-sm text-center my-10 cursor-pointer">
<a target="_blank" href="https://ramiroquiroga.vercel.app">
 <pre>Design -► Ramiro Quiroga </pre>
 <pre> Developer Web. All rights reserved.</pre>
</a>
</div>
</footer>