---
---

<header
  class="w-full flex items-center justify-around min-h-20 text-neutral-500 bg-white/50"
>
<div class="w-28 h-16">
  <img src="/recepcionQR.png" alt="logo" width="65" class="bg-gray-700 object-fill rounded-full">
</div>
  <ul
    class="w-1/2 flex items-center justify-between gap-5 font-medium text-sm py-5"
  >
    <li><a href="/">Inicio</a></li>
    <li>
      <a href="/recepcion">recepcion</a>
    </li>
 
    <li>
      <a href="/cargaformulario">cargaformulario</a>
    </li>
  </ul>
</header>
