---
---

<nav
  class="w-11/12 rounded-xl h-12 flex items-center justify-between min-h-20 text-neutral-500 bg-white mt-5 shadow-md px-10"
>
  <div class="w-1/4 h-16 items-center flex justify-center">
    <img
      src="/recepcionQR.png"
      alt="logo"
      width="75"
      class="bg-paleta1-gray object-fill rounded-full"
    />
  </div>
  <ul
    class="md:w-1/6 flex items-center justify-center gap-5 font-medium text-sm h-full"
  >
    <li class="h-full w-full text-center font-thin flex duration-300 m-auto">
      <a
        href="/"
        class="text-center w-full m-auto items-center justify-center flex flex-col text-xs group relative"
      >
        <div
          class="bg-paleta1- m-auto group hover w-10 duration-300 rounded-lg border border-paleta1-primary/80 bg-paleta1-secondary/50"
        >
          <svg
            viewBox="0 0 64 64"
            class="group-hover:scale-110 h-full duration-200"
            id="Layer_1"
            version="1.1"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            ><g id="SVGRepo_bgCarrier" stroke-width="2"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <style type="text/css">
                .st0 {
                  fill: none;
                  stroke: #808080;
                  stroke-width: 4;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st1 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st2 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 5;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st3 {
                  fill: #ffffff;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st4 {
                  fill: #f4cfeb;
                }
                .st5 {
                  fill: none;
                  stroke: #808080;
                  stroke-width: 2;
                  stroke-miterlimit: 10;
                }
                .st6 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-miterlimit: 10;
                }
                .st7 {
                  fill: none;
                  stroke: #2b3088;
                  stroke-width: 2;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st8 {
                  fill: none;
                  stroke: #808080;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                }
                .st9 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <line class="st0" x1="46" x2="12" y1="25" y2="25"></line>
              <g>
                <path
                  class="st0"
                  d="M52,44c0,2.8-2.3,5-5,5H17c-2.8,0-5-2.3-5-5V20c0-2.8,2.3-5,5-5h30c2.8,0,5,2.3,5,5V44z"
                ></path>
              </g>
              <g>
                <circle class="st1" cx="24" cy="35" r="3"></circle>
                <line class="st1" x1="27" x2="43" y1="35" y2="35"></line>
                <line class="st1" x1="41" x2="41" y1="35" y2="40"></line>
                <line class="st1" x1="36" x2="36" y1="35" y2="38"></line>
              </g>
              <circle class="st1" cx="18" cy="20" r="1"></circle>
              <circle class="st1" cx="25" cy="20" r="1"></circle>
              <circle class="st1" cx="32" cy="20" r="1"></circle>
            </g></svg
          >
        </div>
        <p
          class="text-xs absolute top-[110%] -translate-y-6 opacity-0 duration-300 group-hover:translate-y-0 bg-white rounded-lg p-1 group-hover:opacity-100"
        >
          Inicio
        </p>
      </a>
    </li>
    <li
      class=" rounded-r-lg h-full w-full text-center font-thin flex duration-300 m-auto"
    >
      <a href="/credenciales"  class="text-center w-full m-auto items-center justify-center flex flex-col text-xs group relative"
      >
        <div
          class="bg-paleta1- m-auto group hover w-10 duration-300 rounded-lg border border-paleta1-primary/80 bg-paleta1-secondary/50"
        >
          <svg
            viewBox="0 0 64 64" class="group-hover:scale-110 h-full duration-200 "
            id="Layer_1"
            version="1.1"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <style type="text/css" >
                .st0 {
                  fill: none;
                 stroke: #808080;
                  stroke-width: 3;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st1 {
                  fill: none;
                  stroke: #808080;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st2 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st3 {
                  fill: #ffffff;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st4 {
                  fill: #f4cfeb;
                }
                .st5 {
                  fill: none;
                  stroke: #bfdafe;
                  stroke-width: 2;
                  stroke-miterlimit: 10;
                }
                .st6 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-miterlimit: 10;
                }
                .st7 {
                  fill: none;
                  stroke: #2b3088;
                  stroke-width: 2;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
                .st8 {
                  fill: none;
                  stroke: #bfdafe;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                }
                .st9 {
                  fill: none;
                  stroke: #f4cfeb;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <path
                class="st1"
                d="M25,38h-8v-1c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4V38z"></path>
              <circle class="st1" cx="21" cy="28" r="2"></circle>
              <line class="st1" x1="32" x2="46" y1="27" y2="27"></line>
              <line class="st1" x1="32" x2="46" y1="32" y2="32"></line>
              <line class="st1" x1="32" x2="46" y1="37" y2="37"></line>
              <g>
                <g>
                  <path
                    class="st0"
                    d="M52,38c0,2.8-2.3,5-5,5H17c-2.8,0-5-2.3-5-5V26c0-2.8,2.3-5,5-5h30c2.8,0,5,2.3,5,5V38z"
                  ></path>
                </g>
                <path
                  class="st0"
                  d="M36,21h-8v-1c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4V21z"></path>
              </g>
              <polyline class="st1" points="18,12 12,12 12,18 "></polyline>
              <polyline class="st1" points="46,12 52,12 52,18 "></polyline>
              <polyline class="st1" points="52,46 52,52 46,52 "></polyline>
              <polyline class="st1" points="12,46 12,52 18,52 "></polyline>
            </g></svg
          >
        </div><p
          class="text-xs absolute top-[110%] -translate-y-6 opacity-0 duration-300 group-hover:translate-y-0 bg-white rounded-lg p-1 group-hover:opacity-100"
        >
          Credenciales
        </p>
      </a>
    </li>
  </ul>
</nav>
