---
---

<header class="w-full flex items-center justify-around min-h-20 text-neutral-500 bg-white/80">
    <ul class="w-1/2 flex items-center justify-between gap-5 font-medium text-sm py-5 "><li><a href="/">Inicio</a></li>
        <li>
        <a href="/cargarVideo">CargaVideos</a>
    </li>
<li>
        <a href="/videosCargados">Videos</a>
    </li>

    </ul>

</header>