---

---

<header
  class="w-11/12 rounded h-12 flex items-center justify-between min-h-20 text-neutral-500 bg-white/50 mt-5"
>
  <div class="w-1/4 h-16 items-center flex justify-center">
    <img
      src="/recepcionQR.png"
      alt="logo"
      width="75"
      class="bg-paleta1-gray object-fill rounded-full"
    />
  </div>
  <ul
    class="w-2/4 flex items-center justify-between gap-5 overflow-hidden font-medium text-sm h-full"
  >
    <li
      class="hover:bg-paleta1-primary h-full w-full text-center font-bold flex duration-300 m-auto"
    >
      <a href="/" class="text-center w-full m-auto">Inicio</a>
    </li>

    <li
      class="hover:bg-paleta1-primary h-full w-full text-center font-bold flex duration-300 m-auto "
    >
      <a href="/cargaeventos" class="text-center w-full m-auto"
        >Eventos</a
      >
    </li>
    <li
      class="hover:bg-paleta1-primary h-full w-full text-center font-bold flex duration-300 m-auto "
    >
      <a href="/cargaformulario" class="text-center w-full m-auto"
        >Videos</a
      >
    </li>
    <!-- <li
      class="hover:bg-paleta1-primary h-full w-full text-center  font-bold flex duration-300 m-auto rounded-r"
    >
      <a href="/recepcion" class="text-center w-full m-auto">Lector</a>
    </li> -->
  </ul>
</header>
