---
const {uidEvento}=Astro.props
import ScanerReceptor from "./ScanerReceptor.astro";
---
<div
id="modalLector"
class="bg-gray-800/50 backdrop-blur-sm absolute hidden top-0 left-0  items-center justify-center z-40 w-full h-full duration-300">
    <div
    id="qrEquivocado"
    class="absolute top-1/2 z-30 py-1 px-2 rounded-lg bg-red-500/80 backdrop-blur-sm text-gray-100 text-xl invisible font-bold duration-200">
      <p id="mensajeError"></p>
    </div>
    <div class="absolute top-5 right-5">
        <button id="salirModal" class="rounded-full p-2 bg-white" >❌</button>
    </div>
        <div class="bg-white absolute  rounded  items-center justify-center w-52 h-52">
           
            <ScanerReceptor uidEvento={uidEvento}/>
        </div>
  </div>

  <style>
    .modal{
        display: flex;
        animation: appear 0.4s ease-in-out;
    }
    
    @keyframes appear {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
  </style>
  
  <script>
    const modalLector=document.getElementById('modalLector')
    document.getElementById('salirModal').addEventListener('click', () => {
        modalLector.classList.remove('modal');
    });
  </script>