---
---

<aside
class="absolute top-0 left-0 w-full bg-paleta1-gray/80 backdrop-blur-sm h- z-10"
>
<div class="flex flex- items-center justify-evenly w-full gap-3 py-1">
  <!-- ctn agregar iamgen -->
  <label
    for="cargaImg"
    class="border rounded-lg  flex-col w-16 flex items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
      viewBox="0 0 24 24"
      class="w-8 fill-neutral-200"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          opacity="0.5"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 22H14C17.7712 22 19.6569 22 20.8284 20.8284C22 19.6569 22 17.7712 22 14V13.5629C22 12.6901 22 12.0344 21.9574 11.5001H18L17.9051 11.5001C16.808 11.5002 15.8385 11.5003 15.0569 11.3952C14.2098 11.2813 13.3628 11.0198 12.6716 10.3285C11.9803 9.63726 11.7188 8.79028 11.6049 7.94316C11.4998 7.16164 11.4999 6.19207 11.5 5.09497L11.5092 2.26057C11.5095 2.17813 11.5166 2.09659 11.53 2.01666C11.1214 2 10.6358 2 10.0298 2C6.23869 2 4.34315 2 3.17157 3.17157C2 4.34315 2 6.22876 2 10V14C2 17.7712 2 19.6569 3.17157 20.8284C4.34315 22 6.22876 22 10 22Z"
        ></path>
        <path
          d="M7.98705 12.9528C8.27554 12.6824 8.72446 12.6824 9.01296 12.9528L11.013 14.8278C11.3151 15.1111 11.3305 15.5858 11.0472 15.888C10.7639 16.1901 10.2892 16.2054 9.98705 15.9222L9.25 15.2312L9.25 18.5C9.25 18.9142 8.91422 19.25 8.5 19.25C8.08579 19.25 7.75 18.9142 7.75 18.5L7.75 15.2312L7.01296 15.9222C6.71077 16.2055 6.23615 16.1901 5.95285 15.888C5.66955 15.5858 5.68486 15.1111 5.98705 14.8278L7.98705 12.9528Z"
        ></path>
        <path
          d="M11.5092 2.2601L11.5 5.0945C11.4999 6.1916 11.4998 7.16117 11.6049 7.94269C11.7188 8.78981 11.9803 9.6368 12.6716 10.3281C13.3629 11.0193 14.2098 11.2808 15.057 11.3947C15.8385 11.4998 16.808 11.4997 17.9051 11.4996L21.9574 11.4996C21.9698 11.6552 21.9786 11.821 21.9848 11.9995H22C22 11.732 22 11.5983 21.9901 11.4408C21.9335 10.5463 21.5617 9.52125 21.0315 8.79853C20.9382 8.6713 20.8743 8.59493 20.7467 8.44218C19.9542 7.49359 18.911 6.31193 18 5.49953C17.1892 4.77645 16.0787 3.98536 15.1101 3.3385C14.2781 2.78275 13.862 2.50487 13.2915 2.29834C13.1403 2.24359 12.9408 2.18311 12.7846 2.14466C12.4006 2.05013 12.0268 2.01725 11.5 2.00586L11.5092 2.2601Z"
        ></path>
      </g></svg
    >
    cargar
    <input type="file" name="cargaImg" id="cargaImg" class="hidden" />
  </label>
  <!-- ctn agregar qr -->
  <label
    for="btnQR"
    class="border rounded-lg  flex-col w-16 flex items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
      viewBox="0 0 24 24"
      class="w-8 fill-neutral-200"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          opacity="0.5"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 22H14C17.7712 22 19.6569 22 20.8284 20.8284C22 19.6569 22 17.7712 22 14V13.5629C22 12.6901 22 12.0344 21.9574 11.5001H18L17.9051 11.5001C16.808 11.5002 15.8385 11.5003 15.0569 11.3952C14.2098 11.2813 13.3628 11.0198 12.6716 10.3285C11.9803 9.63726 11.7188 8.79028 11.6049 7.94316C11.4998 7.16164 11.4999 6.19207 11.5 5.09497L11.5092 2.26057C11.5095 2.17813 11.5166 2.09659 11.53 2.01666C11.1214 2 10.6358 2 10.0298 2C6.23869 2 4.34315 2 3.17157 3.17157C2 4.34315 2 6.22876 2 10V14C2 17.7712 2 19.6569 3.17157 20.8284C4.34315 22 6.22876 22 10 22Z"
        ></path>
        <path
          d="M7.98705 12.9528C8.27554 12.6824 8.72446 12.6824 9.01296 12.9528L11.013 14.8278C11.3151 15.1111 11.3305 15.5858 11.0472 15.888C10.7639 16.1901 10.2892 16.2054 9.98705 15.9222L9.25 15.2312L9.25 18.5C9.25 18.9142 8.91422 19.25 8.5 19.25C8.08579 19.25 7.75 18.9142 7.75 18.5L7.75 15.2312L7.01296 15.9222C6.71077 16.2055 6.23615 16.1901 5.95285 15.888C5.66955 15.5858 5.68486 15.1111 5.98705 14.8278L7.98705 12.9528Z"
        ></path>
        <path
          d="M11.5092 2.2601L11.5 5.0945C11.4999 6.1916 11.4998 7.16117 11.6049 7.94269C11.7188 8.78981 11.9803 9.6368 12.6716 10.3281C13.3629 11.0193 14.2098 11.2808 15.057 11.3947C15.8385 11.4998 16.808 11.4997 17.9051 11.4996L21.9574 11.4996C21.9698 11.6552 21.9786 11.821 21.9848 11.9995H22C22 11.732 22 11.5983 21.9901 11.4408C21.9335 10.5463 21.5617 9.52125 21.0315 8.79853C20.9382 8.6713 20.8743 8.59493 20.7467 8.44218C19.9542 7.49359 18.911 6.31193 18 5.49953C17.1892 4.77645 16.0787 3.98536 15.1101 3.3385C14.2781 2.78275 13.862 2.50487 13.2915 2.29834C13.1403 2.24359 12.9408 2.18311 12.7846 2.14466C12.4006 2.05013 12.0268 2.01725 11.5 2.00586L11.5092 2.2601Z"
        ></path>
      </g></svg
    >
    cargarQR
    <input type="file" name="btnQR" id="btnQR" class="hidden" />
  </label>
  <!-- ctn agregar marco para qr -->
  <button
    id="cargaQR"
    class="border rounded-lg flex-col w-16 flex  items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
      class="w-8 fill-neutral-200"
      viewBox="0 0 56 56"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
        ><path
          d="M 8.3827 21.4023 C 9.6015 21.4023 10.2577 20.7227 10.2577 19.4805 L 10.2577 13.9492 C 10.2577 11.5118 11.5702 10.2696 13.9140 10.2696 L 19.5858 10.2696 C 20.8046 10.2696 21.4843 9.5898 21.4843 8.3711 C 21.4843 7.1758 20.8046 6.4961 19.5858 6.4961 L 13.8436 6.4961 C 8.9687 6.4961 6.4843 8.9102 6.4843 13.7383 L 6.4843 19.4805 C 6.4843 20.7227 7.1640 21.4023 8.3827 21.4023 Z M 47.6171 21.4023 C 48.8591 21.4023 49.5157 20.7227 49.5157 19.4805 L 49.5157 13.7383 C 49.5157 8.9102 47.0780 6.4961 42.1562 6.4961 L 36.4374 6.4961 C 35.1952 6.4961 34.5155 7.1758 34.5155 8.3711 C 34.5155 9.5898 35.1952 10.2696 36.4374 10.2696 L 42.1093 10.2696 C 44.4062 10.2696 45.7421 11.5118 45.7421 13.9492 L 45.7421 19.4805 C 45.7421 20.7227 46.4218 21.4023 47.6171 21.4023 Z M 26.9921 25.9727 L 26.9921 17.7930 C 26.9921 17.2305 26.5468 16.7617 25.9608 16.7617 L 17.8046 16.7617 C 17.2187 16.7617 16.7733 17.2305 16.7733 17.7930 L 16.7733 25.9727 C 16.7733 26.5352 17.2187 26.9805 17.8046 26.9805 L 25.9608 26.9805 C 26.5468 26.9805 26.9921 26.5352 26.9921 25.9727 Z M 31.0468 18.8008 L 37.1874 18.8008 L 37.1874 24.9414 L 31.0468 24.9414 Z M 35.4062 23.1602 L 35.4062 20.6055 L 32.8515 20.6055 L 32.8515 23.1602 Z M 23.1718 23.1602 L 23.1718 20.6055 L 20.5936 20.6055 L 20.5936 23.1602 Z M 18.8124 31.0586 L 24.9530 31.0586 L 24.9530 37.1992 L 18.8124 37.1992 Z M 38.9218 31.8555 L 38.9218 29.3008 L 36.3671 29.3008 L 36.3671 31.8555 Z M 31.8671 31.8555 L 31.8671 29.3008 L 29.3124 29.3008 L 29.3124 31.8555 Z M 23.1718 35.3945 L 23.1718 32.8398 L 20.5936 32.8398 L 20.5936 35.3945 Z M 35.4062 35.3945 L 35.4062 32.8398 L 32.8280 32.8398 L 32.8280 35.3945 Z M 36.4374 49.5039 L 42.1562 49.5039 C 47.0780 49.5039 49.5157 47.0664 49.5157 42.2383 L 49.5157 36.5196 C 49.5157 35.2774 48.8360 34.5977 47.6171 34.5977 C 46.3984 34.5977 45.7421 35.2774 45.7421 36.5196 L 45.7421 42.0508 C 45.7421 44.4883 44.4062 45.7305 42.1093 45.7305 L 36.4374 45.7305 C 35.1952 45.7305 34.5155 46.4102 34.5155 47.6289 C 34.5155 48.8242 35.1952 49.5039 36.4374 49.5039 Z M 13.8436 49.5039 L 19.5858 49.5039 C 20.8046 49.5039 21.4843 48.8242 21.4843 47.6289 C 21.4843 46.4102 20.8046 45.7305 19.5858 45.7305 L 13.9140 45.7305 C 11.5702 45.7305 10.2577 44.4883 10.2577 42.0508 L 10.2577 36.5196 C 10.2577 35.2774 9.5780 34.5977 8.3827 34.5977 C 7.1405 34.5977 6.4843 35.2774 6.4843 36.5196 L 6.4843 42.2383 C 6.4843 47.0898 8.9687 49.5039 13.8436 49.5039 Z M 31.8671 38.9336 L 31.8671 36.3789 L 29.3124 36.3789 L 29.3124 38.9336 Z M 38.9218 38.9336 L 38.9218 36.3789 L 36.3671 36.3789 L 36.3671 38.9336 Z M 39.2265 25.9727 L 39.2265 17.7930 C 39.2265 17.2305 38.7811 16.7617 38.1952 16.7617 L 30.0389 16.7617 C 29.4530 16.7617 29.0077 17.2305 29.0077 17.7930 L 29.0077 25.9727 C 29.0077 26.5352 29.4530 26.9805 30.0389 26.9805 L 38.1952 26.9805 C 38.7811 26.9805 39.2265 26.5352 39.2265 25.9727 Z M 18.8124 18.8008 L 24.9530 18.8008 L 24.9530 24.9414 L 18.8124 24.9414 Z M 26.9921 38.2070 L 26.9921 30.0274 C 26.9921 29.4649 26.5468 29.0196 25.9608 29.0196 L 17.8046 29.0196 C 17.2187 29.0196 16.7733 29.4649 16.7733 30.0274 L 16.7733 38.2070 C 16.7733 38.7696 17.2187 39.2383 17.8046 39.2383 L 25.9608 39.2383 C 26.5468 39.2383 26.9921 38.7696 26.9921 38.2070 Z"
        ></path></g
      ></svg
    >
    MarcoQR
  </button>
  <!-- ctn agregar marco para Nombre -->
  <button
    id="cargarMarcoTexto"
    class="border rounded-lg flex-col w-16 flex  items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
      class="w-8 fill-neutral-200"
      viewBox="0 0 56 56"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
        ><path
          d="M 8.3827 21.4023 C 9.6015 21.4023 10.2577 20.7227 10.2577 19.4805 L 10.2577 13.9492 C 10.2577 11.5118 11.5702 10.2696 13.9140 10.2696 L 19.5858 10.2696 C 20.8046 10.2696 21.4843 9.5898 21.4843 8.3711 C 21.4843 7.1758 20.8046 6.4961 19.5858 6.4961 L 13.8436 6.4961 C 8.9687 6.4961 6.4843 8.9102 6.4843 13.7383 L 6.4843 19.4805 C 6.4843 20.7227 7.1640 21.4023 8.3827 21.4023 Z M 47.6171 21.4023 C 48.8591 21.4023 49.5157 20.7227 49.5157 19.4805 L 49.5157 13.7383 C 49.5157 8.9102 47.0780 6.4961 42.1562 6.4961 L 36.4374 6.4961 C 35.1952 6.4961 34.5155 7.1758 34.5155 8.3711 C 34.5155 9.5898 35.1952 10.2696 36.4374 10.2696 L 42.1093 10.2696 C 44.4062 10.2696 45.7421 11.5118 45.7421 13.9492 L 45.7421 19.4805 C 45.7421 20.7227 46.4218 21.4023 47.6171 21.4023 Z M 26.9921 25.9727 L 26.9921 17.7930 C 26.9921 17.2305 26.5468 16.7617 25.9608 16.7617 L 17.8046 16.7617 C 17.2187 16.7617 16.7733 17.2305 16.7733 17.7930 L 16.7733 25.9727 C 16.7733 26.5352 17.2187 26.9805 17.8046 26.9805 L 25.9608 26.9805 C 26.5468 26.9805 26.9921 26.5352 26.9921 25.9727 Z M 31.0468 18.8008 L 37.1874 18.8008 L 37.1874 24.9414 L 31.0468 24.9414 Z M 35.4062 23.1602 L 35.4062 20.6055 L 32.8515 20.6055 L 32.8515 23.1602 Z M 23.1718 23.1602 L 23.1718 20.6055 L 20.5936 20.6055 L 20.5936 23.1602 Z M 18.8124 31.0586 L 24.9530 31.0586 L 24.9530 37.1992 L 18.8124 37.1992 Z M 38.9218 31.8555 L 38.9218 29.3008 L 36.3671 29.3008 L 36.3671 31.8555 Z M 31.8671 31.8555 L 31.8671 29.3008 L 29.3124 29.3008 L 29.3124 31.8555 Z M 23.1718 35.3945 L 23.1718 32.8398 L 20.5936 32.8398 L 20.5936 35.3945 Z M 35.4062 35.3945 L 35.4062 32.8398 L 32.8280 32.8398 L 32.8280 35.3945 Z M 36.4374 49.5039 L 42.1562 49.5039 C 47.0780 49.5039 49.5157 47.0664 49.5157 42.2383 L 49.5157 36.5196 C 49.5157 35.2774 48.8360 34.5977 47.6171 34.5977 C 46.3984 34.5977 45.7421 35.2774 45.7421 36.5196 L 45.7421 42.0508 C 45.7421 44.4883 44.4062 45.7305 42.1093 45.7305 L 36.4374 45.7305 C 35.1952 45.7305 34.5155 46.4102 34.5155 47.6289 C 34.5155 48.8242 35.1952 49.5039 36.4374 49.5039 Z M 13.8436 49.5039 L 19.5858 49.5039 C 20.8046 49.5039 21.4843 48.8242 21.4843 47.6289 C 21.4843 46.4102 20.8046 45.7305 19.5858 45.7305 L 13.9140 45.7305 C 11.5702 45.7305 10.2577 44.4883 10.2577 42.0508 L 10.2577 36.5196 C 10.2577 35.2774 9.5780 34.5977 8.3827 34.5977 C 7.1405 34.5977 6.4843 35.2774 6.4843 36.5196 L 6.4843 42.2383 C 6.4843 47.0898 8.9687 49.5039 13.8436 49.5039 Z M 31.8671 38.9336 L 31.8671 36.3789 L 29.3124 36.3789 L 29.3124 38.9336 Z M 38.9218 38.9336 L 38.9218 36.3789 L 36.3671 36.3789 L 36.3671 38.9336 Z M 39.2265 25.9727 L 39.2265 17.7930 C 39.2265 17.2305 38.7811 16.7617 38.1952 16.7617 L 30.0389 16.7617 C 29.4530 16.7617 29.0077 17.2305 29.0077 17.7930 L 29.0077 25.9727 C 29.0077 26.5352 29.4530 26.9805 30.0389 26.9805 L 38.1952 26.9805 C 38.7811 26.9805 39.2265 26.5352 39.2265 25.9727 Z M 18.8124 18.8008 L 24.9530 18.8008 L 24.9530 24.9414 L 18.8124 24.9414 Z M 26.9921 38.2070 L 26.9921 30.0274 C 26.9921 29.4649 26.5468 29.0196 25.9608 29.0196 L 17.8046 29.0196 C 17.2187 29.0196 16.7733 29.4649 16.7733 30.0274 L 16.7733 38.2070 C 16.7733 38.7696 17.2187 39.2383 17.8046 39.2383 L 25.9608 39.2383 C 26.5468 39.2383 26.9921 38.7696 26.9921 38.2070 Z"
        ></path></g
      ></svg
    >
    MarcoTexto
  </button>
    <!-- boton agregar text -->
    <label
    id="colorText"
    class="border text-center leading-3 rounded-lg flex-col w-16 flex items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
    id="svgColorTexto"
      viewBox="0 0 24 24"
      class="w-8 fill-neutral-200"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          opacity="0.5"
          d="M3.17157 5.17157C2 6.34315 2 8.22876 2 12C2 15.7712 2 17.6569 3.17157 18.8284C4.34315 20 6.22876 20 10 20H14C17.7712 20 19.6569 20 20.8284 18.8284C22 17.6569 22 15.7712 22 12C22 8.22876 22 6.34315 20.8284 5.17157C19.6569 4 17.7712 4 14 4H10C6.22876 4 4.34315 4 3.17157 5.17157Z"
        ></path>
        <path
          d="M6.81782 7.78733C7.11779 7.74992 7.48429 7.74996 7.88383 7.75H10.1162C10.5157 7.74996 10.8822 7.74992 11.1822 7.78733C11.5109 7.82833 11.8612 7.9242 12.1624 8.19187C12.2138 8.23753 12.2625 8.28618 12.3081 8.33756C12.5758 8.63878 12.6717 8.98915 12.7127 9.31782C12.7501 9.61779 12.7501 9.98428 12.75 10.3838L12.75 10.425C12.75 10.8392 12.4142 11.175 12 11.175C11.5858 11.175 11.25 10.8392 11.25 10.425C11.25 9.97047 11.2486 9.69931 11.2242 9.50348C11.1998 9.30765 10.9965 9.2758 10.9965 9.2758C10.8007 9.25137 10.5295 9.25001 10.075 9.25001H9.75001V14.75H11C11.4142 14.75 11.75 15.0858 11.75 15.5C11.75 15.9142 11.4142 16.25 11 16.25H7.00001C6.58579 16.25 6.25001 15.9142 6.25001 15.5C6.25001 15.0858 6.58579 14.75 7.00001 14.75H8.25001V9.25001H7.925C7.47047 9.25001 7.19931 9.25137 7.00348 9.2758C7.00348 9.2758 6.80023 9.30765 6.7758 9.50348C6.75137 9.69931 6.75001 9.97047 6.75001 10.425C6.75001 10.8392 6.41422 11.175 6.00001 11.175C5.58579 11.175 5.25001 10.8392 5.25001 10.425L5.25 10.3838C5.24996 9.98428 5.24992 9.61779 5.28733 9.31782C5.32833 8.98915 5.4242 8.63878 5.69187 8.33756C5.73753 8.28618 5.78618 8.23753 5.83756 8.19187C6.13878 7.9242 6.48915 7.82833 6.81782 7.78733Z"
        ></path>
      </g></svg
    >
    Color Texto
    <input type="color" name="colorText" id="colorText" class="hidden">
  </label>
    <!-- boton fontSize text -->
    <label
    for="fontSize"
    class="border text-center leading-3 rounded-lg flex-col w-16 flex items-center justify-center text-[11px] font-sans capitalize hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >

  <input type="number" name="fontSize" id="fontSize" max="20" value="16" class="w-10 my-0.5 h-8 rounded-lg bg-paleta1-gray p-0.5 border ring-0  selection:ring-0 text-xs ">
  tamaño
  </label>
  <!-- boton descraga -->
  <button
    id="descargaImg"
    class="border rounded-lg break-words  flex-col w-16 flex items-center justify-center text-[11px] font-sans capitalize font-thin hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg
      viewBox="0 0 24 24"
      class="w-8 fill-neutral-200"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          opacity="0.5"
          d="M22 16.0003V15.0003C22 12.1718 21.9998 10.7581 21.1211 9.8794C20.2424 9.00072 18.8282 9.00072 15.9998 9.00072H7.99977C5.17135 9.00072 3.75713 9.00072 2.87845 9.8794C2 10.7579 2 12.1711 2 14.9981V15.0003V16.0003C2 18.8287 2 20.2429 2.87868 21.1216C3.75736 22.0003 5.17157 22.0003 8 22.0003H16H16C18.8284 22.0003 20.2426 22.0003 21.1213 21.1216C22 20.2429 22 18.8287 22 16.0003Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 1.25C11.5858 1.25 11.25 1.58579 11.25 2L11.25 12.9726L9.56943 11.0119C9.29986 10.6974 8.82639 10.661 8.51189 10.9306C8.1974 11.2001 8.16098 11.6736 8.43054 11.9881L11.4305 15.4881C11.573 15.6543 11.781 15.75 12 15.75C12.2189 15.75 12.4269 15.6543 12.5694 15.4881L15.5694 11.9881C15.839 11.6736 15.8026 11.2001 15.4881 10.9306C15.1736 10.661 14.7001 10.6974 14.4305 11.0119L12.75 12.9726L12.75 2C12.75 1.58579 12.4142 1.25 12 1.25Z"
        ></path>
      </g></svg
    >
    descarga
  </button>

  <!-- boton agregar los qrs -->
  <button
    id="generateQRS"
    class="border rounded-lg break flex-col w-16 flex items-center justify-center  leading-3 text-[11px] font-sans hover:bg-white/50 duration-300 group p-1 cursor-pointer"
  >
    <svg viewBox="0 0 24 24"   class="w-8 fill-neutral-200" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g opacity="0.5"> <path d="M10.5531 13.4469C10.1294 13.0232 9.60212 12.8505 9.01812 12.772C8.46484 12.6976 7.76789 12.6976 6.93209 12.6977L5.82717 12.6977C5.24648 12.6977 4.76184 12.6976 4.36823 12.7351C3.95674 12.7742 3.57325 12.8591 3.22152 13.0746C2.87731 13.2856 2.5879 13.575 2.37697 13.9192C2.16142 14.2709 2.07653 14.6544 2.0374 15.0659C1.99998 15.4595 1.99999 15.9442 2 16.5249V16.5932C1.99999 17.477 1.99999 18.1897 2.05454 18.7635C2.1108 19.3552 2.22996 19.8707 2.51405 20.3343C2.80168 20.8037 3.19632 21.1983 3.6657 21.486C4.12929 21.77 4.64482 21.8892 5.23653 21.9455C5.8103 22 6.52304 22 7.40683 22H7.47507C8.05577 22 8.54048 22 8.9341 21.9626C9.34559 21.9235 9.72907 21.8386 10.0808 21.623C10.425 21.4121 10.7144 21.1227 10.9254 20.7785C11.1409 20.4267 11.2258 20.0433 11.2649 19.6318C11.3024 19.2382 11.3023 18.7535 11.3023 18.1728L11.3023 17.0679C11.3024 16.2321 11.3024 15.5352 11.228 14.9819C11.1495 14.3979 10.9768 13.8706 10.5531 13.4469Z" ></path> <path d="M8.9341 2.0374C9.34559 2.07653 9.72907 2.16142 10.0808 2.37697C10.425 2.5879 10.7144 2.87731 10.9254 3.22152C11.1409 3.57325 11.2258 3.95674 11.2649 4.36823C11.3024 4.76183 11.3023 5.24658 11.3023 5.82726L11.3023 6.93212C11.3024 7.7679 11.3024 8.46484 11.228 9.01812C11.1495 9.60212 10.9768 10.1294 10.5531 10.5531C10.1294 10.9768 9.60212 11.1495 9.01812 11.228C8.46484 11.3024 7.76787 11.3024 6.93209 11.3023L5.82711 11.3023C5.24643 11.3023 4.76183 11.3024 4.36823 11.2649C3.95674 11.2258 3.57325 11.1409 3.22152 10.9254C2.87731 10.7144 2.5879 10.425 2.37697 10.0808C2.16142 9.72907 2.07653 9.34559 2.0374 8.9341C1.99998 8.54047 1.99999 8.05579 2 7.47506V7.40679C1.99999 6.52302 1.99999 5.81029 2.05454 5.23653C2.1108 4.64482 2.22996 4.12929 2.51405 3.6657C2.80168 3.19632 3.19632 2.80168 3.6657 2.51405C4.12929 2.22996 4.64482 2.1108 5.23653 2.05454C5.81029 1.99999 6.52307 1.99999 7.40684 2H7.4751C8.05583 1.99999 8.54047 1.99998 8.9341 2.0374Z"></path> <path d="M16.5932 2H16.5249C15.9442 1.99999 15.4595 1.99998 15.0659 2.0374C14.6544 2.07653 14.2709 2.16142 13.9192 2.37697C13.575 2.5879 13.2856 2.87731 13.0746 3.22152C12.8591 3.57325 12.7742 3.95674 12.7351 4.36823C12.6976 4.76185 12.6977 5.24654 12.6977 5.82725L12.6977 6.93209C12.6976 7.76789 12.6976 8.46484 12.772 9.01812C12.8505 9.60212 13.0232 10.1294 13.4469 10.5531C13.8706 10.9768 14.3979 11.1495 14.9819 11.228C15.5352 11.3024 16.2321 11.3024 17.0679 11.3023L18.1728 11.3023C18.7535 11.3023 19.2382 11.3024 19.6318 11.2649C20.0433 11.2258 20.4267 11.1409 20.7785 10.9254C21.1227 10.7144 21.4121 10.425 21.623 10.0808C21.8386 9.72907 21.9235 9.34559 21.9626 8.9341C22 8.54048 22 8.05587 22 7.47517V7.40683C22 6.52304 22 5.8103 21.9455 5.23653C21.8892 4.64482 21.77 4.12929 21.486 3.6657C21.1983 3.19632 20.8037 2.80168 20.3343 2.51405C19.8707 2.22996 19.3552 2.1108 18.7635 2.05454C18.1897 1.99999 17.477 1.99999 16.5932 2Z" ></path> </g> <path opacity="0.4" d="M14.0926 21.3024C14.0926 21.6877 13.7803 22.0001 13.3949 22.0001C13.0096 22.0001 12.6973 21.6877 12.6973 21.3024V18.5117H14.0926V21.3024Z" ></path> <path opacity="0.5" d="M21.3022 12.6978C20.9169 12.6978 20.6045 13.0101 20.6045 13.3954V16.6512H21.9998V13.3954C21.9998 13.0101 21.6875 12.6978 21.3022 12.6978Z" ></path> <path d="M16.0761 16.6173C16 16.8011 16 17.0341 16 17.5C16 17.9659 16 18.1989 16.0761 18.3827C16.1776 18.6277 16.3723 18.8224 16.6173 18.9239C16.8011 19 17.0341 19 17.5 19C17.9659 19 18.1989 19 18.3827 18.9239C18.6277 18.8224 18.8224 18.6277 18.9239 18.3827C19 18.1989 19 17.9659 19 17.5C19 17.0341 19 16.8011 18.9239 16.6173C18.8224 16.3723 18.6277 16.1776 18.3827 16.0761C18.1989 16 17.9659 16 17.5 16C17.0341 16 16.8011 16 16.6173 16.0761C16.3723 16.1776 16.1776 16.3723 16.0761 16.6173Z" ></path> <path opacity="0.7" d="M21.9992 18.5352V18.5117H20.6039C20.6039 18.9547 20.6035 19.252 20.5878 19.4822C20.5725 19.7061 20.5451 19.8152 20.5154 19.8869C20.3974 20.1718 20.171 20.3982 19.8861 20.5162C19.8143 20.546 19.7053 20.5734 19.4813 20.5887C19.2511 20.6044 18.9538 20.6047 18.5109 20.6047H16.6504V22.0001H18.5344C18.9478 22.0001 19.293 22.0001 19.5763 21.9808C19.8713 21.9606 20.1499 21.9173 20.42 21.8054C21.0469 21.5457 21.5449 21.0477 21.8045 20.4209C21.9164 20.1508 21.9598 19.8722 21.9799 19.5772C21.9992 19.2938 21.9992 18.9487 21.9992 18.5352Z" ></path> <path opacity="0.6" d="M12.6973 16.6156V16.6512H14.0926C14.0926 15.9835 14.0935 15.5352 14.1282 15.1934C14.1618 14.8633 14.2212 14.7108 14.2886 14.6099C14.3734 14.4829 14.4824 14.3739 14.6094 14.2891C14.7103 14.2217 14.8628 14.1623 15.1929 14.1287C15.5347 14.0939 15.983 14.0931 16.6508 14.0931H18.5112V12.6978H16.6151C15.9922 12.6977 15.4725 12.6977 15.0517 12.7405C14.6113 12.7853 14.2025 12.8827 13.8342 13.1289C13.5549 13.3155 13.315 13.5553 13.1284 13.8347C12.8823 14.203 12.7848 14.6118 12.74 15.0522C12.6972 15.473 12.6973 15.9927 12.6973 16.6156Z" ></path> <path d="M5.50821 18.6903C5.72656 18.8452 6.03581 18.8452 6.6543 18.8452C7.27278 18.8452 7.58203 18.8452 7.80038 18.6903C7.87743 18.6356 7.9447 18.5683 7.99937 18.4913C8.1543 18.2729 8.1543 17.9637 8.1543 17.3452C8.1543 16.7267 8.1543 16.4175 7.99937 16.1991C7.9447 16.1221 7.87743 16.0548 7.80038 16.0001C7.58203 15.8452 7.27276 15.8452 6.65428 15.8452C6.0358 15.8452 5.72656 15.8452 5.50821 16.0001C5.43117 16.0548 5.36389 16.1221 5.30923 16.1991C5.1543 16.4175 5.1543 16.7267 5.1543 17.3452C5.1543 17.9637 5.1543 18.2729 5.30923 18.4913C5.36389 18.5683 5.43117 18.6356 5.50821 18.6903Z" ></path> <path d="M6.6543 8.15479C6.03581 8.15479 5.72656 8.15479 5.50821 7.99986C5.43117 7.94519 5.36389 7.87792 5.30923 7.80087C5.1543 7.58252 5.1543 7.27327 5.1543 6.65479C5.1543 6.0363 5.1543 5.72705 5.30923 5.5087C5.36389 5.43165 5.43117 5.36438 5.50821 5.30971C5.72656 5.15479 6.03581 5.15479 6.6543 5.15479C7.27278 5.15479 7.58203 5.15479 7.80038 5.30971C7.87743 5.36438 7.9447 5.43165 7.99937 5.5087C8.1543 5.72705 8.1543 6.0363 8.1543 6.65479C8.1543 7.27327 8.1543 7.58252 7.99937 7.80087C7.9447 7.87792 7.87743 7.94519 7.80038 7.99986C7.58203 8.15479 7.27278 8.15479 6.6543 8.15479Z" ></path> <path d="M16.1996 8C16.418 8.15493 16.7272 8.15493 17.3457 8.15493C17.9642 8.15493 18.2734 8.15493 18.4918 8C18.5688 7.94533 18.6361 7.87806 18.6908 7.80101C18.8457 7.58266 18.8457 7.27342 18.8457 6.65493C18.8457 6.03644 18.8457 5.7272 18.6908 5.50885C18.6361 5.4318 18.5688 5.36453 18.4918 5.30986C18.2734 5.15493 17.9642 5.15493 17.3457 5.15493C16.7272 5.15493 16.418 5.15493 16.1996 5.30986C16.1226 5.36453 16.0553 5.4318 16.0006 5.50885C15.8457 5.7272 15.8457 6.03647 15.8457 6.65494C15.8457 7.27342 15.8457 7.58266 16.0006 7.80101C16.0553 7.87806 16.1226 7.94533 16.1996 8Z" ></path> </g></svg>
    Generar QR´s
  </button>
</div>
</aside>