---
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";
import NavBar from "../components/NavBar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="RecepcionQR" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="w-full flex flex-col items-center justify-center bg-gradient-to-tr text-white from-paleta1-primary backdrop-blur-sm to-paleta1-secondary min-h-screen"
  >
  <div class="absolute w-full h-full bg-gradient-to-tr from-white/30 to-white/80 backdrop-blur-none -z-10 "></div>
    <NavBar />
    <slot />
    <div id="toast-container"></div>
   <Modal/>
    <Footer/>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "NunitoSans";
    src: url("/fonts/NunitoSans.ttf") format("tff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    font-family: "NunitoSans", sans-serif;
  }
  #toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  .toast {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: slideInDown 0.5s ease-in-out, slideOutUp 1s ease-in-out 2s;
  }
  .activarModal {
    display: flex; /* Hace que el modal sea visible */
    align-items: center;
    justify-content: center;
    position: fixed; /* Posiciona el modal de manera fija en la pantalla */
    z-index: 1; /* Sitúa el modal por encima de otros elementos */
    left: 0;
    top: 0;
  
    width: 100%; /* Ancho completo */
    height:100vh; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgb(0, 0, 0); /* Color de fondo */
    background-color: rgba(0, 0, 0, 0.4); /* Color de fondo con opacidad */
   
  }
 

  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOutUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(-100%);
   
    }
  }
</style>
