---
---

<div
  id="toastEvento"
  class="top-10 left-50 hidden leading-6 fixed z-40 bg-gray-700 rounded-lg px-5 py-2 text-xs items-center justify-center font-bold"
>
</div>
<script src="./toastShow.js"></script>

<style>
  #toastEvento {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: slideInDown 0.5s ease-in-out;
  }

  @keyframes slideInDown {
    0% {
      display: flex;
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
