---
import CardVideos from './CardVideos.astro'
const respuesta = await fetch("https://192.168.1.51:4321/api/listarvideos");
const data = await respuesta.json();
---


<div
class="  backdrop-blur-sm flex flex-col p-5 rounded-lg items-left justify-normal  w-10/12 mx-auto py-10 min-h-screen bg-white"
>
{ 
data?.files?.length>0?


<div class="flex items-center flex-wrap justify-evenly w-full gap-5 ">
    {data.files?.map((evento) => (
      <CardVideos video={evento}/>
        ))}
      </div>
    :
    <div class="text-left">
  <h2 class="mt-5 text-3xl font-bold text-gray-700">Sube un Video!</h2>
  <p class="mt-2 text-sm text-gray-900 font-medium">
    No hay videos que mostrar, para realizar una carga, dirigete a cargar Videos
  </p>
</div>
    }
</div>

